In [27]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split


X, y = make_blobs(centers=2, random_state=4, n_samples=30)  #make_blobs 生成多类单标签数据集，默认含两个特征

data = np.random.normal(loc=5,scale=1,size=10) #loc均值,scale标准差,数量
data.shape

np.std(data)/np.mean(data)

0.15288929567869056

In [38]:
df = pd.read_csv(r"C:\Users\KZCF\Desktop\cust_analisys\cust_sample.csv",sep = ',', encoding='utf-8')
df.head()
#df[['cust_id','zw_day']]

,station_code,cust_id,first_dw_billdate,last_dw_billdate,zw_day,day_num,total_num,total_fee,bill_num,kz_total_num,...,kz_bill_num,th_total_num,th_total_fee,th_bill_num,cancel_total_num,cancel_total_fee,cancel_bill_num,avg_day,median_day,stddev_day
0,1002,899,2018/8/11 0:00,2018/9/3 0:00,23,2,-4,86.0,2,-4,...,2,0,0.0,0,0,0.0,0,23,23,0
1,1002,972,2019/6/26 0:00,2019/6/26 0:00,0,1,-32,10410.0,1,-32,...,1,0,0.0,0,0,0.0,0,\N,\N,\N
2,1002,976,2019/6/25 0:00,2019/6/25 0:00,0,1,-15,4900.0,1,-15,...,1,0,0.0,0,0,0.0,0,\N,\N,\N
3,1002,977,2019/6/26 0:00,2019/6/26 0:00,0,1,-20,6250.0,1,-20,...,1,0,0.0,0,0,0.0,0,\N,\N,\N
4,1002,988,2019/6/26 0:00,2019/6/26 0:00,0,1,-25,8060.0,1,-25,...,1,0,0.0,0,0,0.0,0,\N,\N,\N

In [48]:
from sklearn.cluster import KMeans

X=df[['cust_id','zw_day','day_num','total_num','total_fee']]
kmeans = KMeans(n_clusters=4)
kmeans.fit(X)
y_kmeans = kmeans.labels_
#y_kmeans = kmeans.predict(X)  #predict 对新的数据集进行预测

In [53]:
y_kmeans.shape
#y_kmeans[:5]
type(y_kmeans)
X.index

RangeIndex(start=0, stop=79947, step=1)

In [45]:
kmeans.inertia_  #组内平方和

45053380708905.914

In [57]:
df_y_kmeans=pd.DataFrame(y_kmeans)
df_y_kmeans.index

RangeIndex(start=0, stop=79947, step=1)

In [62]:
result = pd.merge(X, pd.DataFrame(y_kmeans),left_index=True,right_index=True)
result.shape
result.head()
result.tail()

       cust_id  zw_day  day_num  total_num  total_fee  0
79942   212138       0        1         -1      50.00  0
79943   212701      27        5        -11     470.00  0
79944   221760       3        3        -25    1150.12  0
79945   222386       6        2         -1     560.00  0
79946   220934       0        1          0       0.00  0